@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
@import url("../styles/lenis_style.css");
@import url("../styles/custom_cursor.css");
@import url("../styles/scroll_to_top.css");

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  max-width: 2048px;
  position: relative;
}

.testimonials .item {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.testimonials .arrows .next,
.testimonials .arrows .prev {
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
}

/** generate select color  */
::selection {
  background-color: #281d13;
  color: white;
}

.challenges .slick-slide {
  scale: 0.87;
}

.challenges .slick-current {
  scale: 1;
}
