.imageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . . . ."
    ". . One . ."
    ". Four One Two ."
    ". Four One Two ."
    "Seven Four One Two Six"
    "Seven Four One Two Six"
    "Seven Five One Two Six"
    "Seven Five One Three Six"
    "Seven Five One Three Six"
    ". Five One Three ."
    ". Five One Three ."
    ". . One . ."
    ". . . . .";
}

.imageContainer div {
  height: 100%;
  position: relative;
}

.Two {
  border: 1px solid red;
  grid-area: Two;
}

.One {
  border: 1px solid red;
  grid-area: One;
}

.Three {
  border: 1px solid red;
  grid-area: Three;
}

.Four {
  border: 1px solid red;
  grid-area: Four;
}

.Five {
  border: 1px solid red;
  grid-area: Five;
}

.Six {
  border: 1px solid red;
  grid-area: Six;
}

.Seven {
  border: 1px solid red;
  grid-area: Seven;
}

.headerContainer {
}

.headerText {
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: hidden; */
}

.headerText p {
  margin-right: 5px;
  text-align: center !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headerText span {
  /* opacity: 0.5; */
  /* color: rgba(0, 0, 0, 0); */
}
